.has-top-bar {
    padding-top: 4.5em;
}

.card-icon {
    max-width: 4rem;
    min-width: 1rem;
    max-height: 4rem;
    min-height: 1rem;
}

.profile-icon {
    min-height: 8rem;
    background-image: url("/media/me.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.user-name{
    font-weight: bolder;
}
.user-handle{
    font-style: italic;
}
.scratchtag{
    font-weight: 700;
    cursor: pointer;
}
.scratchtag::before{
    content: '#';
    cursor: pointer;
    font-weight: 900;
    font-size: 1.1rem;
    color: dodgerblue;
}
.code-inline{
    background-color: #ECE9E9;
    color: #FD702E;
    display: inline;
    padding: .2rem;
}
.code-block{
    background-color: ghostwhite;
    padding: .2rem;
}
.fill-parent{
    min-width: 100%;
}